@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root{
    --fonte1: "Anta", sans-serif;
    --color_golden: rgb(123, 103, 11);
    --color_black1: rgba(4, 3, 4, 0.67);
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--fonte1);
}
body{
    background-image: radial-gradient(rgb(16, 15, 16), rgba(21, 20, 21, 0.934));
}
body.dark{
    background-image: radial-gradient(rgb(213, 213, 213), rgba(208, 208, 208, 0.934));
}
#chk{
    position: relative;
    opacity: 0;
}
#label{
    background-color: var(--color_golden);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 49px;
    height: 24px;
    padding: 2px;
}
#label > #ball{
    background-color: black;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    top: 2px;
    left: 2px;
    position: absolute;
    transform: translateX(0px);
    transition: 0.2s linear;
}
#chk:checked + #label #ball{
    transform: translateX(24px);
}
header{
    border-bottom: solid 1px rgb(123, 103, 11);
    height: 60px;
    color: var(--color_golden);
    background-color: var(--color_black1);
    margin: auto;
    display: flex;
    width: 100%;
    position: fixed;
}
header.dark{
    background-color: white;
}
header > p{
    margin-left: 360px;
    margin-right: 540px;
    margin-top: 20px;
}
header > #dark_mode{
    height: 20px;
    width: 20px;
    background-color: var(--color_black1);
    margin-top: 20px;
}
header > #dark_mode:hover{
    cursor: pointer;
}
header > a{
    color:rgb(123, 103, 11);
    margin-left: 20px;
    margin-top: 20px;
}
#inicio{
    color: var(--color_golden);
    height: 780px;
    margin: auto;
    width: 60%;
    display: flex;
    text-align: center;
    border-bottom: solid 1px var(--color_golden);
}
#inicio_left{
    margin-top: 260px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 28px;
}
#inicio_left_text > h2{
    margin-bottom: 30px;
}
#inicio_left_contact{
    margin-top: 30px;
}
#inicio_left_contact > a{
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
#inicio_right{
    margin-top: 240px;
    border-radius: 50%;
}
#sobre{
    color: rgb(123, 103, 11);
    height: 620px;
    margin: auto;
    width: 80%;
    text-align: center;
    border-bottom: solid 1px rgb(123, 103, 11);
}
#sobre_left{
    float: left;
    margin-top: 120px;
    width: 30%;
    margin-left: 50px;
    margin-right: 160px;
}
#sobre_right{
    margin-top: 110px;
    width: 45%;
    float: left;
    font-size: 25px;
}
#button_curriculo{
    background-color: rgb(123, 103, 11);
    color: black;
    height: 60px;
    padding: 20px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 20px;
}
#button_curriculo:hover{
    background-color: rgb(88, 74, 9);
    cursor: pointer;
}
#habilidades{
    color: rgb(123, 103, 11);
    height: 680px;
    margin: auto;
    width: 60%;
    border-bottom: solid 1px rgb(123, 103, 11);
    text-align: center;
}
#habilidades > h2{
    margin-top: 80px;
    margin-bottom: 80px;
}
#habilidades_buttons > button{
    height: 100px;
    width: 240px;
    background-color: rgb(123, 103, 11);
    color: black;
    border-radius: 15px;
    font-size: 30px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-position: center;
    background-size: cover;
    display: inline;
}
#habilidades_buttons > button > img{
    float: left;
    margin-left: 20px;
}
#habilidades_buttons > button > p{
    margin-top: 5px;
}
#habilidades_buttons > button:hover{
    background-color: rgb(88, 74, 9);
    color: black;
}
#projetos{
    color: rgb(123, 103, 11);
    min-height: 620px;
    margin: auto;
    width: 80%;
    text-align: center;
}
#projetos > h1{
    margin-bottom: 80px
}
#projetos_container{
    display: flex;
    flex-wrap: wrap;
}
.project{
    height:320px;
    width:320px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.67);
    margin: auto;
    border: solid 2px rgb(123, 103, 11);
}
footer{
    border-top: solid 1px rgb(123, 103, 11);
    height: 80px;
    margin: auto;
    width: 100%;
    background-color: var(--color_black1);
    text-align: center;
    color: rgb(123, 103, 11);
    font-size: 10px;
}
footer.dark{
    background-color: white;
}
h1{
    margin-top: 20px;
    text-align: center;
}
.project.hidden{
    display: flex;
}

@media(max-width: 1616px){
    header{
        height: 60px;
        margin: auto;
        display: flex;
        width: 100%;
    }
    header > p{
        margin-left: 180px;
        margin-right: 620px;
        margin-top: 20px;
    }
    header > a{
        margin-left: 20px;
        margin-top: 20px;
    }
    #inicio{
        height: 720px;
        margin: auto;
        width: 80%;
        display: flex;
        text-align: center;
    }
    #inicio_left{
        margin-top: 240px;
        text-align: center;
        font-size: 25px;
    }
    #inicio_left_text > h2{
        margin-bottom: 30px;
    }
    #inicio_left_contact{
        margin-top: 30px;
    }
    #inicio_left_contact > a{
        margin-left: 30px;
        margin-right: 30px;
    }
    #inicio_right{
        margin-top: 220px;
        border-radius: 50%;
    }
    #inicio_right > img{
        width: 300px;
    }
    #sobre{
        height: 620px;
        margin: auto;
        width: 80%;
    }
    #sobre_left{
        margin-top: 120px;
        width: 30%;
        margin-left: 50px;
        margin-right: 150px;
    }
    #sobre_right{
        margin-top: 110px;
        width: 45%;
        float: left;
        font-size: 25px;
    }
    #button_curriculo{
        height: 60px;
        padding: 20px;
        font-size: 15px;
        margin-top: 20px;
    }
    #habilidades{
        height: 600px;
        margin: auto;
        width: 80%;
        text-align: center;
    }
    #habilidades > h2{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    #habilidades_buttons > button{
        height: 100px;
        width: 240px;
        border-radius: 15px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #habilidades_buttons > button > img{
        float: left;
        margin-left: 20px;
    }
    #habilidades_buttons > button > p{
        margin-top: 5px;
    }
    #habilidades_buttons > button:hover{
        color: black;
    }
    #projetos{
        min-height: 600px;
        margin: auto;
        width: 80%;
    }
    #projetos > h1{
        margin-bottom: 80px;
    }
    #projetos_container{
        display: flex;
        flex-wrap: wrap;
    }
    .project{
        height:320px;
        width:320px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
        border-radius: 5px;
        margin: auto;
    }
    footer{
        height: 100px;
        font-size: 10px;
    }
    h1{
        margin-top: 20px;
    }
}
@media(max-width: 1200px){
    body{
        width: 1200px;
    }
    header{
        height: 120px;
        font-size: 40px;
        margin: auto;
        text-align: center;
        display: flex;
    }
    header > p{
        margin-right: 220px;
        font-size: 20px;
        margin-top: 50px;
    }
    header > a{
        font-size: 20px;
        align-items: center;
        margin-top: 50px;
    }
    #inicio{
        height: 620px;
    }
    #inicio_left{
        font-size: 25px;
    }
    #inicio_left_contact > a{
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #inicio_right > img{
        margin-top: 30px;
        width: 220px;
        margin-left: 20px;
    }
    #sobre{
        height: 520px;
        margin: auto;
        display: block;
    }
    #sobre_left{
        height: 320px;
        width: 50%;
        margin: auto;
        margin-top: 120px;
    }
    #sobre_left > img{
        width: 200px;
    }
    #sobre_right{
        height: 320px;
        font-size: 25px;
        margin: auto;
        margin-top: 80px;
        width: 50%;
        float: left;
    }
    #button_curriculo{
        padding: 5px;
        width: 90px;
        font-size: 12px;
        margin-top: 15px;
    }
    #habilidades{
        height: 368px;
        margin: auto;
        display: inline;
        font-size: 20px;
    }
    #habilidades_buttons > button{
        height: 80px;
        width: 220px;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #habilidades_buttons > button > img{
        float: left;
        margin-left: 30px;
        width: 40px;
    }
    #habilidades_buttons > button > p{
        margin-top: 8px;
        font-size: 18px;
    }
    #projetos{
        margin-top: 50px;
        min-height: 560px;
    }
    #projetos_container{
        display: flex;
        flex-wrap: wrap;
    }
    .project{
        width: 360px;
        height: 360px;
        margin: auto;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

@media(max-width: 900px){
    body{
        width: 900px;
    }
    header{
        height: 60px;
        font-size: 15px;
        margin: auto;
        text-align: center;
    }
    header > p{
        margin-top: 20px;
    }
    header > a{
        display: none;
    }
    #inicio{
        height: 640px;
    }
    #inicio_left{
        font-size: 20px;
    }
    #inicio_left_contact > a{
        width: 40px;
        margin-left: 8px;
        margin-right: 8px;
    }
    #inicio_right > img{
        margin-top: 20px;
        width: 180px;
    }
    #sobre{
        height: 540px;
        margin: auto;
        display: block;
    }
    #sobre_left{
        height: 300px;
        width: 50%;
        margin: auto;
        margin-top: 140px;
    }
    #sobre_left > img{
        width: 180px;
    }
    #sobre_right{
        height: 300px;
        font-size: 20px;
        margin: auto;
        margin-top: 100px;
        width: 50%;
        float: left;
    }
    #button_curriculo{
        padding: 5px;
        width: 90px;
        font-size: 12px;
        margin-top: 15px;
    }
    #habilidades{
        height: 400px;
        margin: auto;
        display: inline;
        font-size: 20px;
    }
    #habilidades_buttons > button{
        height: 60px;
        width: 180px;
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #habilidades_buttons > button > img{
        float: left;
        margin-left: 20px;
        width: 30px;
    }
    #habilidades_buttons > button > p{
        margin-top: 5px;
        font-size: 15px;
    }
    #projetos{
        margin-top: 40px;
        min-height: 500px;
    }
    #projetos_container{
        display: flex;
        flex-wrap: wrap;
    }
    .project{
        width: 300px;
        height: 300px;
        margin: auto;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
    .project > a > img{
        width: 300px;
    }
}
@media(max-width: 600px){
    body{
        width: 600px;
    }
    header{
        height: 55px;
        font-size: 10px;
        position: fixed;
    }
    header > p{
        margin-left: 100px;
        margin-right: 180px;
    }
    header > a{
        display: none;
    }
    #inicio{
        height: 600px;
        width: 100%;
        display: inline-block;
    }
    #inicio_left{
        font-size: 14px;
        margin-top: 100px;
    }
    #inicio_left_contact > a{
        width: 30px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;

    }
    #inicio_right{
        margin-top: 20px;
    }
    #inicio_right > img{
        width: 220px;
    }
    #sobre{
        height: 500px;
        margin: auto;
        display: block;
    }
    #sobre_left{
        height: 280px;
        width: 50%;
        margin: auto;
        margin-top: 80px;
    }
    #sobre_left > img{
        width: 150px;
    }
    #sobre_right{
        height: 280px;
        font-size: 14px;
        margin: auto;
        margin-top: 80px;
        width: 50%;
        float: left;
    }
    #button_curriculo{
        padding: 5px;
        width: 80px;
        font-size: 10px;
        margin-top: 15px;
    }
    #habilidades{
        height: 400px;
        margin: auto;
        display: inline;
        font-size: 15px;
    }
    #habilidades_buttons > button{
        height: 40px;
        width: 120px;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #habilidades_buttons > button > img{
        float: left;
        margin-left: 20px;
        width: 25px;
    }
    #habilidades_buttons > button > p{
        margin-top: 5px;
        font-size: 12px;
    }
    #projetos{
        min-height: 480px;
    }
    #projetos_container{
        display: flex;
        flex-wrap: wrap;
    }
    .project{
        width: 240px;
        height: 240px;
        margin: auto;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 20px;
    }
    .project > a > img{
        width: 220px;
    }
}
